:host {
  border: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  top: 72px;
  left: 12px;
  background: rgb(246, 246, 246);
  width: 56px;
  border-radius: 12px;
  box-shadow: 0.3px 0.5px 0.7px rgba(0, 0, 0, 0.04),
    0.9px 1.6px 2.2px rgba(0, 0, 0, 0.024), 4px 7px 10px rgba(0, 0, 0, 0.016);
}

.tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* color: hsl(180, 80%, 22%); */
  padding: 10px 0;
  /* border: 1px solid black; */
  cursor: pointer;
}

.tool:hover .tool-icon {
  background: rgba(255, 215, 64, 0.4);
  /* color: hsl(180, 80%, 22%); */
}

.tool:active .tool-icon {
  background: rgba(255, 215, 64, 0.9);
}

.tool-icon {
  display: grid;
  place-items: center;
  background: rgba(255, 255, 255, 0.87);
  width: 2rem;
  height: 1.67rem;
  font-size: 1.25rem;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: 150ms;
}

.tool-name {
  margin-top: 6px;
  font-size: 0.625rem;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 0.04rem;
}
