<header>
  <input
    type="text"
    [placeholder]="headerText"
    class="input-header"
    [(ngModel)]="note.header"
    (change)="saveNote()"
    [disabled]="!isActive"
    #noteheader
  />
  <mat-icon
    matRipple
    [matRippleCentered]="true"
    [matRippleRadius]="12"
    class="more-icon"
    (click)="toggleSettings()"
    >more_horiz</mat-icon
  >
</header>

<!-- <textarea
  class="note-body custom-scrollbar"
  [placeholder]="note.sentiment"
  [(ngModel)]="note.body"
  (change)="saveNote()"
  [disabled]="!isActive"
  #notebody
></textarea> -->

<div
  class="note-body custom-scrollbar"
  [attr.placeholder]="note.sentiment"
  (change)="saveNote()"
  (blur)="blurEvent($event)"
  [attr.contenteditable]="isActive"
  [(RichText)]="note.body"
  #notebody
>
  {{ note.body }}
</div>

<div
  class="resize-icon"
  (mousedown)="
    startResize($event.clientX, $event.clientY); $event.stopPropagation()
  "
></div>

<div class="note-settings" *ngIf="isSettingsOpen">
  <div
    class="color"
    *ngFor="let color of data.colors"
    [ngStyle]="{ backgroundColor: color }"
    (click)="selectColor(color)"
  >
    <mat-icon *ngIf="note.backgroundColor === color" class="color-checkmark"
      >check_circle</mat-icon
    >
  </div>
</div>

<button
  *ngIf="isSettingsOpen"
  mat-raised-button
  color="warn"
  class="delete-btn"
  (click)="deleteNote()"
>
  Delete Note
</button>
